* {
  font-family: "Poppins", sans-serif;
}

#sidebar {
  min-height: 100vh;
  width: 18%;
}

#sidebar .list-group {
  width: 15rem;
}

#sidebar .list-group .list-group-item {
  border: none;
  color: orange;
  font-weight: bold;
}

#sidebar .list-group-item:hover {
  color: tomato;
}

#page-content {
  width: 82%;
}
